doctype html
html
  head
    title!= title

    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/android-chrome-192x192.png' sizes='192x192')
    link(rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Fredoka+One')
    link(rel='stylesheet', href='/assets/style.css')
  body
    #app-node!= body

    script.
      window.app = {
        config: !{JSON.stringify(config)},
        env: !{JSON.stringify(env)},
        langs: !{JSON.stringify(langs)}
      };

    script(type='text/javascript', src='/assets/script.js')
