doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title!= title

    meta(name='title' content='Walk')
    meta(name='description' content='Social Network for Sharing News and Feedback About Public Places and Events in Your City')
    meta(name='keywords' content='walk, city life, events, social')

    meta(property='og:title' content='Walk')
    meta(property='og:description' content='Social Network for Sharing News and Feedback About Public Places and Events in Your City')

    meta(property='og:image' content='#{config.base_url}/images/walk_og_830x830.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='830')
    meta(property='og:image:height' content='830')

    meta(property='og:image' content='#{config.base_url}/images/walk_og_1200x630.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')

    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-194x194.png' sizes='194x194')
    link(rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Fredoka+One')
    link(rel='stylesheet', href='/assets/style.css')
  body
    #app-node!= html

    script.
      window.app = {
        config: !{JSON.stringify(config._client)},
        env: !{JSON.stringify(env)},
        langs: !{JSON.stringify(langs)},
        stores: !{stores}
      };

    script(type='text/javascript', src='/assets/vendor.js')
    script(type='text/javascript', src='/assets/script.js')
